@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: 14px;
  background: var(--bg-color) var(--background-image);
  color: var(--text-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --container-bg: #ffffff;
  --navbar-bg: #efeeee;
  --background-image: url("/src/assets/img/backgroundImage.jpg");
  --border-color: #868383;
}

[data-theme="dark"] {
  --bg-color: #000000;
  --text-color: #ffffff;
  --container-bg: #333;
  --navbar-bg: #333;
  --background-image: url("/src/assets/img/backgroundImage.jpg");
  --border-color: #ffffff;
}

input:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.navbar,
.sender {
  background-color: var(--navbar-bg);
}

.navbar {
  border-bottom: 1px solid var(--border-color);
}

.sender {
  border-top: 1px solid var(--border-color);
}

.init-container {
  height: 500px;
  background-color: var(--container-bg);
}

.messages {
  height: 450px;
  background-color: var(--container-bg);
}

.sidenav {
  height: 480px;
  width: 320px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  .chat-card {
    padding-top: 0;
  }
  .init-container {
    min-height: 500px;
  }
  .messages {
    min-height: 450px;
  }
  .sidenav {
    top: 20;
    height: 420px;
  }
}
